faculty_management_app/__pycache__/StaffViews.cpython-311.pyc
faculty_management_app/migrations/__pycache__/0003_publication_journal_type.cpython-312.pyc
faculty_management_app/migrations/__pycache__/0002_publication_other_journal_index.cpython-312.pyc
faculty_management_app/__pycache__/StaffViews.cpython-312.pyc
faculty_management_app/__pycache__/StaffViews.cpython-311.pyc
faculty_management_app/__pycache__/models.cpython-312.pyc
faculty_management_app/__pycache__/HodViews.cpython-312.pyc
faculty_management_app/__pycache__/StaffViews.cpython-312.pyc
faculty_management_app/__pycache__/StaffViews.cpython-311.pyc
