<!-- staff_template/view_academic_contribution.html -->

{% extends 'staff_template/base_template.html' %}

{% block page_title %}
    View Academic Contribution
{% endblock page_title %}

{% block main_content %}

{% load static %}
<style>
    .card-header {
        background-color: grey !important; 
      }
    
      .content {
        animation: fadeIn 1.0s ease-in-out; /* Adjust timing and easing as needed */
      }
      
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
</style>
<section class="content">
    <div class="row">
        <div class="col-lg-4">
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3>{{ attended_AC_count }}</h3>
                    <p>AC Attended</p>
                </div>
                <div class="icon">
                    <i class="fas fa-chalkboard-teacher"></i> <!-- Assuming this icon represents attending academic contributions -->
                </div>
                <a href="{% url 'staff_view_attended_AC' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ organized_AC_count }}</h3>
                    <p>AC Organized</p>
                </div>
                <div class="icon">
                    <i class="fas fa-calendar-alt"></i> <!-- Assuming this icon represents organizing academic contributions -->
                </div>
                <a href="{% url 'staff_view_organized_AC' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</section>

{% endblock main_content %}
